body{
    height: 100vh;
    /* width: 100vw; */
    background-color: bisque;
}

.gameBoard{
    height: 100%;
    width: 50%;
    /* height: 500px; */
    /* width: 500px; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("assets/images/KoT Gameboard1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    /* background-color: cornflowerblue; */
    position: absolute;
    display: inline-block;
}

.rollButton{
    height: 5%;
    width: 15%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 20%;
    background-color: crimson;
    font-size: 1vw;
}

.playerOne{
    height: 15%;
    width: 15%;
    background-color: cornflowerblue;
    position: absolute;
    left: 0%;
    top: 0%;
    text-align: center;
}

.playerTwo{
    height: 15%;
    width: 15%;
    background-color: cornflowerblue;
    position: absolute;
    right: 0%;
    top: 0%;
    text-align: center;
}

.playerThree{
    height: 15%;
    width: 15%;
    background-color: cornflowerblue;
    position: absolute;
    left: 0%;
    bottom: 0%;
    text-align: center;
    display: none;
}

.playerFour{
    height: 15%;
    width: 15%;
    background-color: cornflowerblue;
    position: absolute;
    right: 0%;
    bottom: 0%;
    text-align: center;
    display: none;
}

.cityPlayer{
    height: 25%;
    width: 25%;
    background-color: skyblue;
    position: absolute;
    left: 7%;
    top: 23.5%;
    text-align: center;
    border-radius: 50%;
    opacity: 0.5;
    font-size: 1vw;
    line-height: 900%;
    font-weight: bold;
    /* display: none; */
}

.cityCover{
    height: 25%;
    width: 25%;
    background-color: black;
    position: absolute;
    right: 13%;
    bottom: 10.65%;
    text-align: center;
    border-radius: 50%;
    opacity: 0.9;
    text-align: center;
    color: cornsilk;
    font-size: 1vw;
    line-height: 1100%;
    font-weight: bold;
    /* display: none; */
}